
/* Navigation Bar*/
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    padding: 0px 17px 15px;
    font-size: 18px;
}

/* Home */
#home {
    padding: 3px 2px;
}

#home::before {
    height: 62%;
    top: -40px;
}

#home h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#home p {
    margin-bottom: 20px;
    font-size: 20px;
}

/* Services */
#services {
    flex-direction: column;
}

#clients {
    overflow: hidden;
}

.services-container {
    margin-top: 10rem;
}

#services {
    margin: 3px 3px;
    display: flex;
}
#services .box img {
    display: block;
    height: 100px;
    margin: auto;
}

/* Client */
#clients{
    flex-direction: column;
}
#clients img{
    height: 80px;
    padding: 10px 60px;
}
#client-section{
    height: 400px;
}
#client-section::before{
    height: 66%;
    opacity: 0.4;
}

/* Contact us */
#contact{
    margin-top: 203px;
}
#contact::before{
    height: 48%;
}

footer{
    margin-top: -20px;
}

/* Utility */
.h-primary {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    padding: 12px;
}

.h-secondry {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    padding: 12px;
}