/* Css reset  & Global CSS */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
input, textarea{
    border: none;
    outline: none;
}
input:active{
    border: none;
    outline: none;
}
/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and image */
#logo {
    margin: 5px 35px;
}

#logo img {
    height: 60px;
    margin: 3px 5px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 40px;
    border-radius: 20px;
    font-size: 25px;
    text-shadow: 1px 1px 5px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

#home::before {
    content: "";
    background: url(/Images/tomato.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
}

#home h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Servises section */
.services-container {
    margin-top: 17rem;
}

#services {
    margin: 34px 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 8px;
    border-radius: 28px;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 10px rgba(245, 174, 92, 0.925);
}

#services .box img {
    display: block;
    height: 160px;
    margin: auto;
}

#services .box p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* Clint section */

#client-section {
    height: 408px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(/Images/bg1.jpg)no-repeat center center/cover;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 170px;
    padding: 10px 60px;
}

/* Contact section */
#contact {
    margin-top: -30px;
    background: url(/Images/contact-us.jpg) no-repeat center center/cover;
}
#contact::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.6rem 0.9rem;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px 0;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 5px 0;
}
#contact-box button{
    padding: 10px 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
    font-weight: bold;
    background: none;
    transition: .3s;
    margin-top: 20px;
}
#contact-box button:hover{
    background-color: #333;
    color: #fff;
}
#contact-box button:active{
    transform: scale(0.8);
}

/* Footer */
footer {
    background-color: black;
    padding: 10px;
    color: white;
}

/* Utility class */
.h-primary {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondry {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 20px;
    text-decoration: none;
    transition: .2s;
}
.btn:hover{
    transform: translate(0, 10px);
    box-shadow: 0px 0px 5px;

}

.center {
    text-align: center;
}